<html>
<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</header>
<body>
  <h1 class="text-center">File Metadata Microservice</h1>
  <h3 class="text-center">By: <a href="https://azbo400.github.io" target="_blank">Ryan A</a> for <a href="https://freecodecamp.com" target="_blank">freeCodeCamp</a></h3>
  <p>Welcome to my file metadata microservice project for freeCodeCamp! To use upload a file then submit it and see the files size in bytes!</p>
  <form method="POST" enctype="multipart/form-data" >
    <input type="file">
    <input type="submit" name="submit" value="Submit">
  </form>
</body>
</html>